header {
  background-color: #2C5F2D;
  color: white;
}
body {
  background-color: #97BC62;
  color: white;
}
a {
  color: white;
}
a:hover {
  color: darkgreen;
  text-decoration: none;
}
.tiles .tile .teaser {
  background: transparent;
}